.task-form {
    position: relative;
    height: 45px;

    input {
        color: $color-default;
        font-size: 2.0rem;
        text-align: center;
        font-weight: 600;
        outline: none;
        display: block;
        height: 100%;
        width: calc(100% - 100px);
        border: 2px solid $color-default;
        padding: 9px 12px;
        transition: all ease-in .3s;

        &:focus {
            border-color: darken( $color-default, 10% );

            + button {
                background-color: darken( $color-default, 10% );
            }
        }
    }

    button {
        height: 100%;
        width: 100px;
    }
}